@model asp.net_nvc_movies.Models.Movies

@{
    ViewBag.Title = "AddNewMovie";
}
<h2>Add New Movie</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div>

    @using (Html.BeginForm("submit", "Movies", FormMethod.Post))
    {
        <i>title:</i> @Html.TextBoxFor(m => m.Title) @Html.ValidationMessageFor(x => x.Title)
        <br />
        <i>Rating:</i> @Html.TextBoxFor(m => m.Rating) @Html.ValidationMessageFor(x => x.Rating)
        <br />
        <i>Outline:</i> @Html.TextBoxFor(m => m.Outline) @Html.ValidationMessageFor(x => x.Outline)
        <br />
        <i>Certificate:</i> @Html.TextBoxFor(m => m.Certificate) @Html.ValidationMessageFor(x => x.Certificate)
        <br />
        <input id="Submit1" type="submit" value="submit" />
    }
</div>