@using asp.net_nvc_movies.Models;
@using System.Collections.Generic;

@{
    List<Movies> movie;
    if (ViewBag.moviesList != null)
    {
        movie = ViewBag.moviesList;
    }
    else
    {
        movie = new List<Movies>();
    }
}
<div class="header">&nbsp;</div>
<div class="list detail sub-list">
    @{ foreach (Movies m in movie)
        {
            <div class="list_item odd" itemscope itemtype="http://schema.org/Movie">
                <table cellspacing="0" cellpadding="0" border="0" class="nm-title-overview-widget-layout">
                    <tbody>
                        <tr>
                            <td rowspan="2" valign="top" id="img_primary">
                                <div class="image">
                                    <a>
                                        <div href="/Movies/CMovie?id=@m.Idmovie.ToString()" class="hover-over-image zero-z-index">
                                            <img class="poster shadowed"
                                                 height=@m.Img.height
                                                 width=@m.Img.width
                                                 alt=@m.Img.alt
                                                 title=@m.Img.title
                                                 src=@m.Img.img />
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td class="overview-top">
                                <h4>
                                    <a href="/Movies/CMovie?id=@m.Idmovie.ToString()" title=@m.Title>@m.Title</a>
                                </h4>
                                <p class="cert-runtime-genre">
                                    <img title="PG"
                                         alt="Certificate PG"
                                         class="absmiddle certimage"
                                         src=@m.Certificate />
                                    <time datetime="PT117M">@m.Time min</time>
                                    &nbsp;&nbsp;-&nbsp;&nbsp;
                                    @foreach (Ganers g in @m.Ganer)
                                    {
                                        <span>@g.NameGaner</span>
                                        <span class="ghost">|</span>
                                    }

                                </p>
                                <div class="rating_txt">
                                    <span class="metascore favorable">@m.Rating </span>
                                    Metascore
                                </div>
                                <div class="outline">
                                    @m.Outline
                                </div>
                                <div class="txt-block">
                                    <h5 class="inline">Directors:</h5>

                                    @foreach (Director d in @m.Dir)
                                    {
                                        <span>
                                            <a>@d.NameDirector</a>
                                        </span>
                                    }

                                </div>
                                <div class="txt-block">
                                    <h5 class="inline">Stars:</h5>
                                    @foreach (Star s in @m.Str)
                                    {
                                        <a> @s.Namestar ,</a>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="overview-bottom">
                                <script>
                                    if (typeof uet == 'function') {
                                        uet("bb", "SmallTrailerWidget", { wb: 1 });
                                    }
                                </script>

                                <script>
                                    if (typeof uet == 'function') {
                                        uet("be", "SmallTrailerWidget", { wb: 1 });
                                    }
                                </script>
                                <script>
                                    if (typeof uex == 'function') {
                                        uex("ld", "SmallTrailerWidget", { wb: 1 });
                                    }
                                </script>
                                <span class="wlb_wrapper">

                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    }

    </div>
