@model project.Models.MoviesModelView
@using project.Models
@{
    ViewBag.Title = "AddStar";
    List<String> names = new List<string>();
    foreach (Movies s in Model.movies)
    {
        names.Add(s.Idmovie.ToString() + " " + s.Title);
    }
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<p>
    @Html.ActionLink("Add Movies", "AddNewMovie")<i> | </i>
    @Html.ActionLink("Add Directors", "AddDir")<i> | </i>
    @Html.ActionLink("Add Ganers", "AddGaner")
</p>
<h2>AddStar</h2>

<div id="star">

    @using (Html.BeginForm("SubmitS", "Manenger", FormMethod.Post, new { id = "frmimg", @class = "table" }))
    {

        @Html.DropDownListFor(m => m.movie.Title,
                              new SelectList(names),
                              "Select movie")
        <br /><br />
        <i>Namestar:</i> @Html.TextBoxFor(m => m.stars.Namestar)
        <i style="color:red"> @Html.ValidationMessageFor(x => x.stars.Namestar)</i>
        <br /><br />
        <input id="add" type="button" value="Add star" onclick="SendData()" />
    }
</div>

<script>
    function SendData() {
        var frmData = $("#frmimg").serialize();
        $.post("SubmitS", frmData);
        $("#stars_Namestar").val("");

    }
</script>