@model project.Models.Account

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div id="Login">
    <i style="color:red">@TempData["error"]</i><br />
    @using (Html.BeginForm("SubmitLogin", "Account", FormMethod.Post))
    {
        <i>Email:</i> @Html.TextBoxFor(m => m.Email)
        <i style="color:red">@Html.ValidationMessageFor(x => x.Email)</i>
        <br /><br />
        <i>Password:</i> @Html.PasswordFor(m => m.Password)
        <i style="color:red">@Html.ValidationMessageFor(x => x.Password)</i>
        <br /><br />
        <input type="submit" name="Submit" value="Login"  />
    }
</div>
<p style="font-size:20px">
    @Html.ActionLink("Register", "Register")
</p>
