@model project.Models.Register

@{
    ViewBag.Title = "Register";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div id="Login">
    <i style="color:red">@TempData["error"]</i><br />
    @using (Html.BeginForm("SubmitRegister", "Account", FormMethod.Post))
    {
        <i>Email:</i> @Html.TextBoxFor(m => m.Email)
        <i style="color:red">@Html.ValidationMessageFor(x => x.Email)</i>
        <br /><br />
        <i>Password:</i> @Html.PasswordFor(m => m.Password)
        <i style="color:red">@Html.ValidationMessageFor(x => x.Password)</i>
        <br /><br />
        <i>ConfirmPassword:</i> @Html.PasswordFor(m => m.ConfirmPassword)
        <i style="color:red">@Html.ValidationMessageFor(x => x.ConfirmPassword)</i>
        <br /><br />
        <input type="submit" value="Register"  />
    }
</div>
<p style="font-size:20px">
    @Html.ActionLink("Login", "Login")
</p>

